.document-item-page{
    background-color: #020A1A;
    min-width: 100vw;
    min-height: 100vh;
}
.docinfo{
    color: aliceblue;
    font-size: 20px;
}
.docinfo-div {
    margin-top: 50px;
    background-color: rgb(119,0,29);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 500px;
     
}

.pdf{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    border-radius: 15px;
    margin-bottom: 40px;
}